@mixin dashSetings($posStatus) {
  width: 20px;
  height: 2px;
  position: $posStatus;
  border-radius: 2px;
  background-color: #fff;
  pointer-events: none;
  transition: all 0.3s;
}

.hamburger-btn {
  width: 84px;
  height: 84px;
  background: #2231aa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__dash {
    @include dashSetings(relative);
    &::before {
      content: "";
      @include dashSetings(absolute);
      top: 6px;
      transition-property: top, transform;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
    &::after {
      content: "";
      @include dashSetings(absolute);
      bottom: 6px;
      transition-property: bottom, transform;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
  }

  &.active .hamburger-btn__dash {
    background: transparent;
    &::before {
      width: 100%;
      top: 0;
      transform: rotate(45deg);
      transition-delay: 0s, 0.3s;
    }
    &::after {
      width: 100%;
      bottom: 0;
      transform: rotate(-45deg);
      transition-delay: 0s, 0.3s;
    }
  }
}
