@mixin dashSetings($posStatus) {
  width: 20px;
  height: 2px;
  position: $posStatus;
  border-radius: 2px;
  background-color: #fff;
  pointer-events: none;
  transition: all 0.1s;
}

.hamburger-btn {
  width: 84px;
  height: 84px;
  background: #2231aa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__dash {
    @include dashSetings(relative);
    &::before {
      content: "";
      @include dashSetings(absolute);
      top: 6px;
    }
    &::after {
      content: "";
      @include dashSetings(absolute);
      bottom: 6px;
    }
  }

  &.active .hamburger-btn__dash {
    transform: rotate(45deg);
    &::before {
      top: 0;
      transform: rotate(-90deg);
    }
    &::after {
      bottom: 0;
      height: 0;
    }
  }
}
