@mixin active($color, $bgColor) {
  border: 1px solid $bgColor;
  background: $bgColor;
  color: $color;
  cursor: pointer;
}

@mixin disabled($color: #8d8e97, $bgColor: #e8e8e8) {
  @include active($color, $bgColor);
  opacity: 0.6;
  cursor: not-allowed;
}

$type-mix: (
  primary: (#ffffff, #2231aa, #5360cd,),
  secondary: (#313037, #e8e8e8 ,#dadada,),
  secondary2: (#fd3419, transparent, transparent,),
);

.button {
  font: normal 600 18px/24px "Inter";
  padding: 15.5px 31.5px;
  border-radius: 2px;

  @each $type, $colors in $type-mix {
    &--#{$type} {
      @include active(nth($colors, 1), nth($colors, 2));

      &:hover {
        @include active(nth($colors, 1), nth($colors, 3));
        @if (#{&} == ".button--secondary2:hover") {
          border-color: #dadada
        }
      }
      
      &.disabled {
        @include disabled();
        @if (#{&} == ".button--secondary2.disabled") {
          background: nth($colors, 3);
          border: none;
        }
      }
    }
  }
}
