.page-template {
  @mixin standart {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    background-color: #f3f3f3;
    transition: 0.3s;
  }
  &-light {
    @include standart();
    color: #313037;
  }
  &-dark {
    @include standart();
    color: #fff;
    background-color: #313037;
    & span {
      color: #fff;
    }
    & .selected-post__btns div {
      span {
        color: #313037;
      }
      svg {
        path {
          fill: #313037;
        }
      }
    }
    svg {
      path {
        fill: #fff;
      }
    }
    .tabs__item.active::after {
      background-color: #fff;
    }
    & .selected-post__btn {
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }
}
